.cases-top
  .main-header
    .main-header__title
      里親募集サイト「Family-Pet」
    .main-header__right-box
      .main-header__right-box__signup-btn
        =link_to '新規登録', new_user_registration_path
      .main-header__right-box__login-btn
        =link_to 'ログイン', user_session_path
      .main-header__right-box__signout-btn
        =link_to 'サインアウト', destroy_user_session_path, method: :delete
  .menu-bar
    .home-btn.menu-btn
      =link_to 'HOME', root_path
    .description-btn.menu-btn
      =link_to 'Family-Petとは？'
    .dm-btn.menu-btn
      =link_to 'ダイレクトメッセージ'
  .search-bar
    =form_tag :search_cases, method: :get do
      .refine
        絞り込み
      .select-animal
        犬か猫&ensp;
        =select_tag :animal_id, options_for_select([["犬", "犬"], ["猫", "猫"]])
      .select-prefecture
        都道府県&ensp;
        =select_tag :prefecture_id, options_from_collection_for_select(Prefecture.all, :id, :name)
      .search-keyword
        キーワードで検索&ensp;
        =text_field_tag :keyword
      .submit
        =submit_tag "指定した条件で検索"

.cases-main
  .cases
    - @cases.each do |a_case|
      .case
        .case__picture
        .case__kind
          = a_case.kind
        .case__sex
          = a_case.sex
        .case__prefecture
          = a_case.prefecture
        .case__age
          = a_case.age
        .case__created_at
          = a_case.created_at.strftime("%Y年%-m月%-d日")