=render partial: 'layouts/header'
.cases-main
  .cases
    - @cases.each do |a_case|
      =link_to case_path(a_case) do
        .case
          .case__picture
            = a_case.image
          .case__kind
            = a_case.kind
          .case__sex
            = a_case.sex
          .case__prefecture
            = a_case.prefecture
          .case__age
            = a_case.age
          .case__created_at
            = a_case.created_at.strftime("%Y年%-m月%-d日")