=render partial: 'layouts/header'
.cases-main
  .search-message
    = @message
  .cases
    - @cases.each do |a_case|
      =link_to case_path(a_case) do
        .case
          .case__picture
            = image_tag a_case.image
          .case__kind.index-case__content
            ・
            = a_case.kind
          .case__sex.index-case__content
            ・
            = a_case.sex
          .case__prefecture.index-case__content
            ・
            = a_case.prefecture.name
          .case__age.index-case__content
            ・
            = a_case.age
          .case__created_at.index-case__content
            = a_case.created_at.strftime("%Y-%m-%d")