.cases-top.show-top
  .main-header
    .main-header__title
      = image_tag 'title.png'
    .main-header__right-box
      -if user_signed_in?
        .main-header__right-box__current-user
          ようこそ、
          = current_user.name + 'さん'
        .main-header__right-box__signout-btn
          =link_to 'サインアウト', destroy_user_session_path, method: :delete
      -else
        .main-header__right-box__signup-btn
          =link_to '新規登録', new_user_registration_path
        .main-header__right-box__login-btn
          =link_to 'ログイン', user_session_path
  .menu-bar
    .home-btn.menu-btn
      .home-btn__content
        =link_to 'HOME', root_path
    .description-btn.menu-btn
      .home-btn__content
        =link_to 'Family-Petとは？', about_path
    .dm-btn.menu-btn
      .home-btn__content
        =link_to 'ダイレクトメッセージ', rooms_path
    -if user_signed_in?
      .post-btn.menu-btn
        -if current_user.hope == "recruitment"
          .home-btn__content
            =link_to '投稿する', new_case_path

.show-user
  .user-title
    = @user.name + 'さんのページ'
  .user-main
    .user-have-cases
      投稿件数 :
      = @cases.length
      件
    .dm-start
      = form_for @room, :url => {:action => :create, :controller=> :rooms} do |f|
        = f.hidden_field :name, :value=>@user.name
        = fields_for @entry do |e|
          = e.hidden_field :user_id, :value=>@user.id
        = f.submit "ダイレクトメッセージを送る"
  .cases-main
    .user-case-index
      = @user.name + 'さんの投稿一覧'
    .user-cases.cases
      - @cases.each do |a_case|
        =link_to case_path(a_case) do
          .cases-content
            .case
              .case__picture
                = image_tag a_case.image
              .case__kind.index-case__content
                ・
                = a_case.kind
              .case__sex.index-case__content
                ・
                = a_case.sex
              .case__prefecture.index-case__content
                ・
                = a_case.prefecture.name
              .case__age.index-case__content
                ・
                = a_case.age
              .case__created_at.index-case__content
                = a_case.created_at.strftime("%Y-%m-%d")
    