.dmroom-header
  - @entries.each do |entry|
    - unless entry.user.name == current_user.name
      .dmroom-header__title
        = entry.user.name + 'さんとのメッセージ'
      .dmroom-header__right
        = link_to 'トップへ戻る', root_path

.dmroom-main
  - if @messages.present?
    - @messages.each do |m|
      .message
        .message__name
          = m.user.name
        .message__content
          = m.content
        .message__date
          = m.created_at
  - else
    %h3.text-current_user
      メッセージはまだありません

.dmroom-form
  = form_for @message do |f|
    = f.text_field :content, placeholder: "メッセージを入力"
    = f.hidden_field :room_id, value: "#{@room.id}"
    = f.submit '送信'