.cases-top
  .main-header
    .main-header__title
      = image_tag 'title.png'
    .main-header__right-box
      -if user_signed_in?
        .main-header__right-box__current-user
          ようこそ、
          = current_user.name + 'さん'
        .main-header__right-box__signout-btn
          =link_to 'サインアウト', destroy_user_session_path, method: :delete
      -else
        .main-header__right-box__signup-btn
          =link_to '新規登録', new_user_registration_path
        .main-header__right-box__login-btn
          =link_to 'ログイン', user_session_path
  
  .small-menu
    .small-menu__left
      .small-menu__home
        = link_to root_path do
          = fa_icon 'home'
      .small-menu__about
        = link_to about_path do
          = fa_icon 'question'
      .small-menu__message
        = link_to rooms_path do
          = fa_icon 'envelope'
    .small-menu__right
      -if user_signed_in?
        .small-menu__signout-btn
          =link_to 'サインアウト', destroy_user_session_path, method: :delete
        .post-btn.menu-btn
          -if current_user.hope == "recruitment"
            .home-btn__content
              =link_to '投稿する', new_case_path
      -else
        .small-menu__signup-btn
          =link_to '新規登録', new_user_registration_path
        .small-menu__login-btn
          =link_to 'ログイン', user_session_path

  
  .menu-bar
    .home-btn.menu-btn
      .home-btn__content
        =link_to 'HOME', root_path
    .description-btn.menu-btn
      .home-btn__content
        =link_to 'Family-Petとは？', about_path
    .dm-btn.menu-btn
      .home-btn__content
        =link_to 'ダイレクトメッセージ', rooms_path
    -if user_signed_in?
      .post-btn.menu-btn
        -if current_user.hope == "recruitment"
          .home-btn__content
            =link_to '投稿する', new_case_path
  .search-bar
    =form_tag :search_cases, method: :get do
      .refine
        絞り込み
      .select-animal
        犬か猫&ensp;
        =select_tag :animal, options_for_select([["犬", "犬"], ["猫", "猫"],["選択しない", ""]])
      .select-prefecture
        都道府県&ensp;
        =select_tag :prefecture, options_from_collection_for_select(Prefecture.all, :id, :name)
      .search-keyword
        犬種・猫種で検索&ensp;
        =text_field_tag :keyword
      .submit
        =submit_tag "指定した条件で検索"